{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

OBJETO (PARA FINS DE TESTE) OBJETO EDITADO: {{ object }}

<form method="POST">

{% csrf_token %}

{{ form|bootstrap }}

<button type="submit">Salvar</button>

</form>

<br>
<br>

{% if object %}

<a href="{% url 'create_documento' object.id %}">Adicionar documento</a> <br><br>
{% endif %}

<h2>Lista de Documentos</h2>
<ul>

{% for documento in object.documento_set.all %}


<li>

  <a href="{{ documento.arquivo.url }}">{{ documento.descricao }}, {{ documento.proprietario }}</a><br>

</li>

<br>
<br>
{% endfor %}
</ul>

<h2>Registros no Diário</h2>
<ul>

{% for diario in object.diario_set.all %}


<li>

  <a href="{% url 'edit_diarios' diario.id %}">{{ diario.titulo }}, {{ diario.proprietario }}</a><br>

</li>

<br>
<br>
{% endfor %}
</ul>

<h3>total de registros: {{ object.total_registros_diario }}</h3>


{% endblock %}
