{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}
{% load static %}

OBJETO (PARA FINS DE TESTE) OBJETO EDITADO: {{ diario.titulo }} || {{ object.id }}

<form method="POST">

{% csrf_token %}

{{ form|bootstrap }}

<button class="btn btn-primary" type="submit">Salvar</button>
<br>
<br>

{% if object %}
<a href="{% url 'delete_diario' object.id %}"><button class="btn btn-danger" type="button" name="button">Deletar</button></a>

{% if not object.lida %}
<button onclick="verificouDiario({{ diario.id }})" class="btn btn-success" type="button">Marcar Como lido</button>
<br>
<br>
<h2><p id="mensagem"></p></h2>
<p id="diarios"></p>


{% else %}
<button onclick="desmarcarDiario({{ diario.id }})" class="btn btn-warning" type="button">Marcar como não lido</button>
<br>
<br>
<h2><p id="mensagem01"></p></h2>
<p id="diarios01"></p>

{% endif %}
<br>
{{ object.lida }}

{% endif %}
</form>


<!-- a linha abaixo está funcionando, realizar o link -->
<br>

  <!-- verificar o componente "id" -->
<!--   -->


<p></p>

{% endblock %}

{% block static %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/funcoes-ajax.js' %}"></script>



{% endblock %}
