{% extends 'base.html' %}

{% block main %}

Lista de Itens no Diario de Bordo

<br>
<br>

  {% for diario in object_list %}

<a href="{% url 'edit_diarios_usuario' diario.id %}">
    {{ diario }}
</a>

<a href="{% url 'delete_diario' diario.id %}">Deletar Diario</a>
<br>

  {% endfor %}

  {% if not object_list %}

Lista vazia!
<br>
<br>

  {% endif %}

<br>
<h4> Total de diários do usuário: {{ user.usuario.total_registros_diario01 }} </h4> <!-- object do diario -->
<h4> Total de diários a serem revisados: {{ user.usuario.total_registros_diario }} </h4>

<a href="{% url 'create_diario' %}">Novo Diario</a>

<br>
<br>
<a href="{% url 'exportar_csv' %}">Exportar Excel</a>

{% endblock %}
