{% extends 'base.html' %}

{% load static %}

{% block main %}

<div class="py-3" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-3"><img class="img-fluid d-block w-25 mx-auto" src="{% static 'img/cobrape.jpg' %}"></div>
      </div>
      <div class="row">

        <div class="col-md-6 border-bottom mb-3">
          <h5 class="" >Bem vindo, {{ usuario.usuario.nome }}</h5>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 border-bottom mb-3">
                <h5 class="">{{ usuario.usuario.programa }}</h5>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row" >
        <div class="col-md-2 align-items-center justify-content-center flex-grow-1 shadow m-2 border p-2" ><i class="fa fa-4x fa-fw fa-users flex-grow-1 d-flex mx-4 px-2 pb-2"></i>
          <a class="btn text-decoration-none flex-grow-1 btn-primary" href="{% url 'list_usuarios' %}">Gerenciamento de&nbsp;<br>Usuários</a>
        </div>
              <div class="col-md-2 align-items-center justify-content-center flex-grow-1 shadow m-2 border p-2"><i class="fa fa-4x fa-fw fa-users flex-grow-1 d-flex mx-4 px-2 pb-2"></i>
                <h5 class="text-center">Gerenciamento de Clientes</h5>
              </div>
              <div class="col-md-2 align-items-center justify-content-center flex-grow-1 shadow m-2 border p-2"><i class="fa fa-4x fa-fw fa-users flex-grow-1 d-flex mx-4 px-2 pb-2"></i>
                <h5 class="text-center">Gerenciamento de Proj./Prog.</h5>
              </div>
              <div class="col-md-2 align-items-center justify-content-center flex-grow-1 shadow m-2 border p-2"><i class="fa fa-4x fa-fw fa-users flex-grow-1 d-flex mx-4 px-2 pb-2"></i>
                <h5 class="text-center"></h5>
              </div>
              <div class="col-md-2 align-items-center justify-content-center flex-grow-1 shadow m-2 border p-2"><i class="fa fa-4x fa-fw fa-users flex-grow-1 d-flex mx-4 px-2 pb-2"></i>
                <h5 class="text-center"></h5>
              </div>
            </div>



  </div>

{% endblock %}
