{% extends 'base.html' %}

{% load static %}

{% block main %}

<div class="py-3" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-3"><img class="img-fluid d-block w-25 mx-auto" src="{% static 'img/cobrape.jpg'%}"></div>
      </div>
      <div class="row">

        <div class="col-md-6 border-bottom mb-3">
          <h4 class="" >Bem vindo, {{ usuario.usuario.nome }}</h4>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12 border-bottom mb-3">
                <h5 class="">{{ usuario.usuario.programa }}</h5>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-6 mb-3 border-bottom pb-3">
          <ul class="list-group">
            <a href="{% url 'cadastros' %}"><li class="list-group-item d-flex justify-content-between align-items-center shadow border list-group-item-action">CADASTROS<br><i class="fa fa-list text-muted fa-lg"></i></li></a>
            <li class="list-group-item d-flex justify-content-between align-items-center shadow border">LISTA DE PROGRAMAS<br><i class="fa fa-list text-muted fa-lg"></i></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
